{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block content %}
<div class="auth-container">
    {% if token_fail %}
        <h2>{% translate "Error de Enlace" %} </h2>
        <p>{% translate "El enlace de restablecimiento de contraseña no es válido, ha caducado o ya ha sido utilizado. Por favor, solicita un nuevo restablecimiento de contraseña." %}</p>
        <p><a href="{% url 'account_reset_password' %}">{% translate 'Solicitar nuevo enlace' %}</a></p>
    {% else %}
        <h2>{% translate "Ingresa Nueva Contraseña" %}</h2>
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary">{% translate 'Establecer Nueva Contraseña' %}</button>
        </form>
    {% endif %}
</div>
{% endblock %}