{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Password Reset Done" %}{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>{% translate "Correo Enviado" %} </h2>
    
    <p>
        {% blocktrans %}Hemos enviado un correo electrónico a la dirección que proporcionaste. 
        Por favor, sigue las instrucciones que contiene para cambiar tu contraseña.{% endblocktrans %}
    </p>

    <p>{% translate "Si no recibes el correo en unos minutos, revisa tu carpeta de spam." %}</p>
    
    <a href="{% url 'account_login' %}" class="btn btn-secondary">Volver al Login</a>
</div>
{% endblock %}