{% extends "base.html" %}

{% block head_title %}Detalle de Nota: {{ note.title }}{% endblock %}

{% block content %}
    <div class="note-detail-container">
        <h1>
            {{ note.title }}
            {% if note.important %}
                <span class="badge-important">Importante</span>
            {% endif %}
        </h1>
        <hr>

        <div class="note-content">
            <p>{{ note.content|linebreaksbr }}</p>
        </div>
        
        <div class="note-metadata">
            <p><strong>Creado:</strong> {{ note.created_at|date:"j M, Y H:i" }}</p>
            <p><strong>Última Edición:</strong> {{ note.updated_at|date:"j M, Y H:i" }}</p>
            <p><strong>Etiquetas:</strong> 
                {% for tag in note.tags.all %}
                    <span class="tag-badge">{{ tag.name }}</span>
                {% empty %}
                    Ninguna
                {% endfor %}
            </p>
        </div>
        
        <hr>

        <div class="note-actions-bottom">
            <a href="{% url 'notes:note_update' pk=note.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'notes:note_delete' pk=note.pk %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'notes:note_list' %}" class="btn btn-secondary">Volver al Listado</a>
        </div>
    </div>
{% endblock content %}