{% extends "base.html" %}

{% block head_title %}Confirmar Eliminación{% endblock %}

{% block content %}
    <div class="delete-confirmation-container">
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás seguro de que quieres eliminar la nota:</p>
        
        <h2>"{{ object.title }}"?</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <button type="submit" class="btn btn-danger">Sí, Eliminar Permanentemente</button>
            <a href="{% url 'notes:note_detail' pk=object.pk %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock content %}